home-kubernetes-k8s-master1.yaml
home-kubernetes-k8s-master2.yaml
home-kubernetes-k8s-master3.yaml
home-kubernetes-k8s-worker1.yaml
home-kubernetes-k8s-worker2.yaml
home-kubernetes-k8s-worker3.yaml
talosconfig
