---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pod-gateway
spec:
  interval: 5m
  chart:
    spec:
      chart: pod-gateway
      version: 7.1.0
      sourceRef:
        kind: HelmRepository
        name: angelnu-charts
        namespace: flux-system
      interval: 5m
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/angelnu/pod-gateway
              tag: v1.13.0@sha256:a5b032e15f7570493977b330a5a86dcffebb807d35685ad803e47afb62d105f2
          gluetun:
            enabled: true
            image:
              repository: qmcgaw/gluetun
              tag: v3.41.0@sha256:6b54856716d0de56e5bb00a77029b0adea57284cf5a466f23aad5979257d3045
            env:
              - name: VPN_SERVICE_PROVIDER
    #           value: custom
                value: mullvad
              - name: VPN_TYPE
                value: wireguard
              - name: VPN_INTERFACE
                value: wg0
              - name: FIREWALL
                value: "off"
              - name: DOT
                value: "on"
              - name: HEALTH_VPN_DURATION_INITIAL
                value: 30s
              - name: LOG_LEVEL
                value: debug
              - name: VPN_ENDPOINT_PORT
                value: 51820
              - name: DNS_ADDRESS
                value: 1.1.1.1
              - name: WIREGUARD_MTU
                value: 1320
              - IPTABLES_NFT
                value: "yes"
            envFrom:
              - secretRef:
                  name: mullvad-secret
    #             name: nord-secret
            securityContext:
              capabilities:
                add:
                  - NET_ADMIN
    webhook:
      image:
        repository: ghcr.io/angelnu/gateway-admision-controller
        tag: v3.12.0@sha256:6f6ab596afd5fef0ca4648eadfb21cd37ba86fa5afa8b85edcc072976a61fbed
    networkpolicies:
      main:
        enabled: true
        egress:
          - to:
              - ipBlock:
                  cidr: 0.0.0.0/0
            ports:
              # VPN traffic
              - port: "51820"
                protocol: UDP
          - to:
              - namespaceSelector: {}

    DNS: 172.16.1.1
    routed_namespaces:
      - downloaders
    settings:
      VXLAN_IP_NETWORK: "172.16.1"
      VPN_INTERFACE: "wg0"
      VPN_BLOCK_OTHER_TRAFFIC: true
      VPN_TRAFFIC_PORT: "51820"
      NOT_ROUTED_TO_GATEWAY_CIDRS: "10.0.0.0/8 192.168.0.0/16"
      VPN_LOCAL_CIDRS: "10.0.0.0/8 192.168.0.0/16"
